#gallery {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none; }

#closetext {
  padding-top: 4.5vh;
  padding-left: 1vw;
  color: white; }

.on {
  display: inline !important; }

#picture {
  width: 100%;
  height: 80vh;
  top: 9vh;
  background-color: white;
  position: fixed;
  padding-top: 1vh;
  padding-bottom: 1vh; }

#pic {
  width: 100%;
  height: 80vh;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden; }

.piccontrol {
  width: 15%;
  height: 100vh; }

.piccontrol:hover {
  background-color: black; }

#leftarrow {
  float: left; }

#rightarrow {
  float: right; }
