#wrap {
  width: 89vw;
  margin: 0 auto;
  overflow: hidden; }

#innerwrap {
  width: 101vw; }

.box {
  width: 20vw;
  height: 20vw;
  margin-top: 3vw;
  margin-right: 3vw;
  background-color: #eee;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease; }

.big {
  width: 43vw;
  background-size: cover; }

.extrabig {
  width: 43vw;
  height: 43vw; }

.box:hover {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.55); }

.black {
  background-color: black; }
