// VARIABLE FONT SIZING
///  example with minumum of 35px and maximum of 150px with a 50px fallback
///  @include responsive-font(5vw, 35px, 150px, 50px);
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  @if $fallback {
    font-size: $fallback;
  }
  font-size: $responsive;
}

$colour1: #eee;
$colour2: black;

$margin: 1vw;
$boxWidth: 22.5vw;
$bigWidth: ($boxWidth * 2) + $margin;
$wrapWidth: ($boxWidth * 4) + ($margin * 3);

body {
  font-family: helvetica, sans-serif;
  @include responsive-font(2vw, 14px, 16px, 15px);
}

#wrap {
  width: $wrapWidth;
  margin: 0 auto;
  overflow: hidden;
}

#innerwrap {
  width: $wrapWidth + ($margin * 4);
}

.box {
  width: $boxWidth;
  height: $boxWidth;
  margin-top: $margin;
  margin-right: $margin;
  background-color: $colour1;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s background-color ease;
}

.big {
  width: $bigWidth;
  background-size: cover;
}

.extrabig {
  width: $bigWidth;
  height: $bigWidth;
}

.box:hover {
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.55);
}

.black {
  background-color: $colour2;
}
