$colour1: #eee;
$colour2: black;

$margin: 3vw;
$boxWidth: 20vw;
$bigWidth: ($boxWidth * 2) + $margin;
$wrapWidth: ($boxWidth * 4) + ($margin * 3);

#wrap {
  width: $wrapWidth;
  margin: 0 auto;
  overflow: hidden;
}

#innerwrap {
  width: $wrapWidth + ($margin * 4);
}

.box {
  width: $boxWidth;
  height: $boxWidth;
  margin-top: $margin;
  margin-right: $margin;
  background-color: $colour1;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s background-color ease;
}

.big {
  width: $bigWidth;
  background-size: cover;
}

.extrabig {
  width: $bigWidth;
  height: $bigWidth;
}

.box:hover {
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.55);
}

.black {
  background-color: $colour2;
}
